body{
    background-color:#484848;
    font-family: 'VT323', monospace;
}
button{
    font-family: 'VT323', monospace;
}
    button:hover{
        cursor:pointer;
    }
#promptWrapper{
    display:block;
    position:absolute;
    z-index:99;
    background-color:#484848;
    width:99%;
    height:99%;
    margin:0;
    padding:0;
    border:0;
    text-align:center;
}
    #promptBox{
        display:block;
        margin:100px auto;
        margin:0 auto;
        padding:40px;
        width:600px;
    }
        #promptScreen{
            color:#78ff9a;
            background-color:#245b1f;
            border:1px solid #dcdcdc;
            width:400px;
            margin:20px auto;
            padding:8px;
        }
            #promptScreen a, #promptScreen a:hover, #promptScreen a:focus, #promptScreen a:active{
                color:#78ff9a;
            }
        #promptBox button, #playerConsole button{
            padding:8px;
            background-color:#dcdcdc;
            border:1px solid;
            color:#484848;
            box-shadow:-2px 2px #958b8b;
            margin:4px;
        }
#gameBoardWrapper{
    padding:0 0 20px 0;
    display:block;
    margin:0 auto;
    width:610px;
}
    #headingScreen{
        text-align:center;
        background-color:#245b1f;
        border:1px solid #dcdcdc;
        color:#78ff9a;
        width:300px;
        height:40px;
        display:block;
        margin:20px auto;
    }
        #headingScreen h1{
            margin:0;
        }
#gameBoard{
    border:4px solid #dcdcdc;
    display:grid;
    grid-template-columns:auto auto auto;
    width:600px;
    height:600px;
    background-color:#245b1f;
}
    #gameBoard div{
        width:200px;
        height:200px;
    }
        #gameBoard div button{
            width:100%;
            height:100%;
            font-size:100px;
            background-color:transparent;
            border:1px solid #78ff9a;
            transition:0.2s;
            box-shadow:none;
        }
            #gameBoard div button:hover{
                opacity:0.5;
                background-color:#78ff9a;
            }
        
.left{
    display:inline-block;
    max-width:50%;
}
.right{
    display:inline-block;
    max-width:50%;
}
#playerConsole{
    margin:0 auto 10px auto;
    display:block;
    width:600px;
}
    #playerConsole .right{
        float:right; /* idk */
    }
    #keeperWrapper{
        display:inline-block;
    }
        #scoreKeeperOne, #scoreKeeperTwo{
            background-color:#245b1f;
            border:1px solid #dcdcdc;
            margin:2px;
            padding:4px;
            color:#78ff9a;
        }
    #notificationArea{
        float:right;
        display:inline-block;
        background-color:#245b1f;
        border:1px solid #dcdcdc;
        margin:2px;
        padding:4px;
        color:#78ff9a;
        height:100%;
        height:50px;
        width:150px;
        font-size: 20px;
        text-align: center;
    }
